<div class=" col">
  <div class="row d-flex justify-content-around">

    <div class="col-sm-8 text-center text-white">
      <br>
      <br>
      <br>
      <br>
      <h2>Bienvenido  {{user.username}}, eres todo un superviviente!!!!</h2>
      <br>
      <br>
      <h3>Este es tu espacio, consulta "Map" para ver resultados de los nuevos sitios</h3>
      <br>
      <h3>Puedes incorporar experiencias en el apartado "Sitios"</h3>
      <br>
      
      <br>
      <br>
      
    </div>

    <div class="row d-flex justify-content-arrond">

    <div class="card text-muted  mb-3" style="background-color: #E6F14A">
      <div class="card-body text-center">
        <h2 class="">Hoy</h2>
       
        <h2 class="">{{alldata.[0].applicable_date}}</h2>
        <ul class="">
          <li class="name"><img
              src="https://www.metaweather.com/static/img/weather/png/64/{{alldata.[0].weather_state_abbr}}.png"
              alt="weather logo"></li>
          <li class="min">Temp {{alldata.[0].the_temp}} ºC</li>
          <li class="min">Min {{alldata.[0].min_temp}} ºC</li>
          <li class="max">Max {{alldata.[0].max_temp}} ºC</li>
        </ul>
      </div>
    </div>

    <div class="card text-muted  mb-3" style="background-color: #E6F14A">
      <div class="card-body text-center">
        <h2>Mañana</h2>
      
        <h2 class="">{{alldata.[1].applicable_date}}</h2>
        <ul class="General">
          <li class="name"><img
              src="https://www.metaweather.com/static/img/weather/png/64/{{alldata.[1].weather_state_abbr}}.png"
              alt="weather logo"></li>
          <li class="min">Temp {{alldata.[1].the_temp}} ºC</li>
          <li class="min">Min {{alldata.[1].min_temp}} ºC</li>
          <li class="max">Max {{alldata.[1].max_temp}} ºC</li>
        </ul>
      </div>
    </div>

    <div class="card text-muted  mb-3" style="background-color: #E6F14A">
      <div class="card-body">
        <br>
        <h2>{{alldata.[2].applicable_date}}</h2>
        <br>
        <ul class="General">
          <li class="name"><img
              src="https://www.metaweather.com/static/img/weather/png/64/{{alldata.[2].weather_state_abbr}}.png"
              alt="weather logo"></li>
          <li class="min">Temp {{alldata.[2].the_temp}} ºC</li>
          <li class="min">Min {{alldata.[2].min_temp}} ºC</li>
          <li class="max">Max {{alldata.[2].max_temp}} ºC</li>
        </ul>
      </div>
  </div>

  <div class="card text-muted  mb-3" style="background-color: #E6F14A">
    <div class="card-body">
      <br>
      <h2>{{alldata.[3].applicable_date}}</h2>
      <br>
      <ul class="General">
        <li class="name"><img
            src="https://www.metaweather.com/static/img/weather/png/64/{{alldata.[3].weather_state_abbr}}.png"
            alt="weather logo"></li>
        <li class="min">Temp {{alldata.[3].the_temp}} ºC</li>
        <li class="min">Min {{alldata.[3].min_temp}} ºC</li>
        <li class="max">Max {{alldata.[3].max_temp}} ºC</li>
      </ul>
    </div>
  </div>

  <div class="card text-muted  mb-3" style="background-color: #E6F14A">
    <div class="card-body text-wrap">
      <h2 class="">Llegarás vivo </h2>
      <h2 class="">a este dia?</h2>
      <ul class="General">
        <li class="name"><img
            src="https://www.metaweather.com/static/img/weather/png/64/{{alldata.[4].weather_state_abbr}}.png"
            alt="weather logo"></li>
        <li class="min">Temp {{alldata.[4].the_temp}} ºC</li>
        <li class="min">Min {{alldata.[4].min_temp}} ºC</li>
        <li class="max">Max {{alldata.[4].max_temp}} ºC</li>
      </ul>
    </div>
  </div>
  </div>
</div>


